.enviar{
    padding: 10px;
    border: 2px solid blue;
    color: blue;
    font-size: 1em;
    font-weight: 800;
    padding: 4px 18px;
    margin: 15px; 
    transition: all .7s ease-in-out;    
    &:hover{
        background: blue;
        color: #fff;
        transition: all .5s ease-in-out;        
    }

}